<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Heading</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat id, esse suscipit corporis nulla consequatur odit dicta itaque culpa, a vitae nam, officia nostrum dolore ad reiciendis. Atque, iste tempore.</p>
	<% a=5, name='Bob' %>
	<%= a %>
	Name: <%= name %>
	<% if(user){ %>
	<p>Name: <%= user.name %> </p>
	<p>Address: <%= user.address %> </p>
	<% } %>
<ul>
	
	
	
</ul>


</body>
</html>