<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		header{
			height:200px;
			background-color: blanchedalmond;
		}
		footer{
			height:100px;
			background-color: cornflowerblue;
		}
		.main{
			height:500px;
		}
	</style>
</head>
<body>
	<%- include('./partials/header'); %>
	<div class='main'>
	<h1>Heading</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolores quo maiores nemo explicabo commodi a quam dignissimos sequi dicta. Maiores sed unde facilis odit debitis, necessitatibus consequatur dignissimos porro!
	</p>
</div>
	<%- include('./partials/footer'); %>
</body>
</html>